{% extends 'base.html.twig' %}
{% import "macro/showConference.html.twig" as macroConf %}

{% block title %}Conférences - MeetDown{% endblock %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <div class="text-center">
                {% if action == "ConferenceVoted" %}
                    <h2>Liste des conférences voté</h2>
                {% elseif action == "ConferenceNoVoted"%}
                    <h2>Liste des conférences non voté</h2>
                {% elseif action == "SearchBar"%}
                    <h2>Résultat pour votre recherche</h2>
                {% else %}
                    <h2>Liste des conférences</h2>
                {% endif %}
            </div>

            {{ macroConf.showConference(conferences) }}
        </div>
    </section>
{% endblock %}
